In [35]:
import pandas as pd
import numpy as np

# Project Details

## In this file task are:
- Clean Dataset
- Reducing size of dataset (if possible)

# 1.  Clean Dataset

In [54]:
# Transforming csv object to Data Frame
games = pd.read_csv('vgsales.csv')
# Creating copy 
games_copy = games.copy()

In [55]:
games_copy.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [56]:
games_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 5.2 MB

In [57]:
games_copy.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [58]:
# deleting NA values from Year column
games_copy.dropna(subset=['Year'],inplace=True)

In [59]:
games_copy.isnull().sum()

Rank             0
Name             0
Platform         0
Year             0
Genre            0
Publisher       36
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

In [60]:
# checking NaN values for publisher columns
games_copy.loc[games_copy.Publisher.isnull()]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1662,1664,Shrek / Shrek 2 2-in-1 Gameboy Advance Video,GBA,2007.0,Misc,NaN,0.87,0.32,0.00,0.02,1.21
2222,2224,Bentley's Hackpack,GBA,2005.0,Misc,NaN,0.67,0.25,0.00,0.02,0.93
3159,3161,Nicktoons Collection: Game Boy Advance Video V...,GBA,2004.0,Misc,NaN,0.46,0.17,0.00,0.01,0.64
3166,3168,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004.0,Misc,NaN,0.46,0.17,0.00,0.01,0.64
3766,3768,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004.0,Misc,NaN,0.38,0.14,0.00,0.01,0.53
4526,4528,The Fairly Odd Parents: Game Boy Advance Video...,GBA,2004.0,Misc,NaN,0.31,0.11,0.00,0.01,0.43
4635,4637,The Fairly Odd Parents: Game Boy Advance Video...,GBA,2004.0,Misc,NaN,0.30,0.11,0.00,0.01,0.42
5647,5649,Cartoon Network Collection: Game Boy Advance V...,GBA,2005.0,Misc,NaN,0.23,0.08,0.00,0.01,0.32
6437,6439,Sonic X: Game Boy Advance Video Volume 1,GBA,2004.0,Misc,NaN,0.19,0.07,0.00,0.00,0.27
6562,6564,Dora the Explorer: Game Boy Advance Video Volu...,GBA,2004.0,Misc,NaN,0.18,0.07,0.00,0.00,0.26
6648,6650,Cartoon Network Collection: Game Boy Advance V...,GBA,2004.0,Misc,NaN,0.18,0.07,0.00,0.00,0.25
6849,6851,All Grown Up!: Game Boy Advance Video Volume 1,GBA,2004.0,Misc,NaN,0.17,0.06,0.00,0.00,0.24
7208,7210,Nicktoons Collection: Game Boy Advance Video V...,GBA,2004.0,Misc,NaN,0.16,0.06,0.00,0.00,0.22
7470,7472,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004.0,Misc,NaN,0.15,0.05,0.00,0.00,0.21
7953,7955,Thomas the Tank Engine & Friends,GBA,2004.0,Adventure,NaN,0.13,0.05,0.00,0.00,0.19
8330,8332,Dragon Ball GT: Game Boy Advance Video Volume 1,GBA,2004.0,Misc,NaN,0.12,0.05,0.00,0.00,0.17
8341,8343,Codename: Kids Next Door: Game Boy Advance Vid...,GBA,2004.0,Misc,NaN,0.12,0.05,0.00,0.00,0.17
8368,8370,Teenage Mutant Ninja Turtles: Game Boy Advance...,GBA,2004.0,Misc,NaN,0.12,0.04,0.00,0.00,0.17
8503,8505,Stronghold 3,PC,2011.0,Strategy,NaN,0.06,0.10,0.00,0.00,0.16
8770,8772,Cartoon Network Collection: Game Boy Advance V...,GBA,2005.0,Misc,NaN,0.11,0.04,0.00,0.00,0.15
8848,8850,Pokémon: Johto Photo Finish: Game Boy Advance ...,GBA,2004.0,Misc,NaN,0.11,0.04,0.00,0.00,0.15
8896,8898,Strawberry Shortcake: Game Boy Advance Video V...,GBA,2004.0,Misc,NaN,0.11,0.04,0.00,0.00,0.15
9517,9519,Farming Simulator 2011,PC,2010.0,Simulation,NaN,0.00,0.13,0.00,0.00,0.13
10382,10384,Disney Channel Collection Vol. 1,GBA,2004.0,Misc,NaN,0.08,0.03,0.00,0.00,0.11
11526,11528,Cartoon Network Collection: Game Boy Advance V...,GBA,2004.0,Misc,NaN,0.06,0.02,0.00,0.00,0.08
14311,14314,Silverlicious,DS,2012.0,Action,NaN,0.03,0.00,0.00,0.00,0.03
14698,14701,UK Truck Simulator,PC,2010.0,Simulation,NaN,0.00,0.03,0.00,0.00,0.03
15056,15059,Xia-Xia,DS,2012.0,Platform,NaN,0.00,0.02,0.00,0.00,0.02
15325,15328,Nicktoons Collection: Game Boy Advance Video V...,GBA,2005.0,Misc,NaN,0.01,0.01,0.00,0.00,0.02
15353,15356,Demolition Company: Gold Edition,PC,2011.0,Simulation,NaN,0.00,0.02,0.00,0.00,0.02
15788,15791,"Moshi, Kono Sekai ni Kami-sama ga Iru to suru ...",PSV,2016.0,Adventure,NaN,0.00,0.00,0.02,0.00,0.02
16208,16211,Super Robot Monkey Team: Game Boy Advance Vide...,GBA,2005.0,Misc,NaN,0.01,0.00,0.00,0.00,0.01
16367,16370,Dance with Devils,PSV,2016.0,Action,NaN,0.00,0.00,0.01,0.00,0.01
16494,16497,Legends of Oz: Dorothy's Return,3DS,2014.0,Puzzle,NaN,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16553,16556,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01

In [61]:
# changing Nan values
games_copy.Publisher.fillna('Unknown Publisher', inplace=True)

In [62]:
# changing index to title of the game
games_copy.set_index(games_copy.Name, inplace=True)

In [63]:
games_copy.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,,
Wii Sports,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [64]:
# Checking for duplicates in Data Frame
games_copy.loc[games_copy.duplicated()]

Empty DataFrame
Columns: [Rank, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

In [65]:
games_copy.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16327.000000,16327.000000,16327.000000,16327.000000,16327.000000,16327.000000,16327.000000
mean,8292.868194,2006.406443,0.265415,0.147554,0.078661,0.048325,0.540232
std,4792.669778,5.828981,0.821591,0.508766,0.311557,0.189885,1.565732
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4136.500000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8295.000000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12441.500000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.480000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [66]:
games_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 16327 entries, Wii Sports to Spirits & Spells
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16327 non-null  int64
 1   Name          16327 non-null  object
 2   Platform      16327 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16327 non-null  object
 5   Publisher     16327 non-null  object
 6   NA_Sales      16327 non-null  float64
 7   EU_Sales      16327 non-null  float64
 8   JP_Sales      16327 non-null  float64
 9   Other_Sales   16327 non-null  float64
 10  Global_Sales  16327 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 6.4 MB

# 2. Reducing size of Dataset

In [68]:
games_copy.Platform.unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [70]:
games_copy.Platform = games_copy.Platform.astype('category')

In [71]:
games_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 16327 entries, Wii Sports to Spirits & Spells
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16327 non-null  int64
 1   Name          16327 non-null  object
 2   Platform      16327 non-null  category
 3   Year          16327 non-null  float64
 4   Genre         16327 non-null  object
 5   Publisher     16327 non-null  object
 6   NA_Sales      16327 non-null  float64
 7   EU_Sales      16327 non-null  float64
 8   JP_Sales      16327 non-null  float64
 9   Other_Sales   16327 non-null  float64
 10  Global_Sales  16327 non-null  float64
dtypes: category(1), float64(6), int64(1), object(3)
memory usage: 5.8 MB

In [73]:
games_copy.Year = games_copy.Year.astype('int16')

In [83]:
# checking if changing Dtype reduced the size, if so continue with next column
games_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 16327 entries, Wii Sports to Spirits & Spells
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16327 non-null  int64
 1   Name          16327 non-null  object
 2   Platform      16327 non-null  category
 3   Year          16327 non-null  int16
 4   Genre         16327 non-null  category
 5   Publisher     16327 non-null  category
 6   NA_Sales      16327 non-null  float64
 7   EU_Sales      16327 non-null  float64
 8   JP_Sales      16327 non-null  float64
 9   Other_Sales   16327 non-null  float64
 10  Global_Sales  16327 non-null  float64
dtypes: category(3), float64(5), int16(1), int64(1), object(1)
memory usage: 3.7 MB

In [84]:
games_copy.Genre.unique()

['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', ..., 'Simulation', 'Action', 'Fighting', 'Adventure', 'Strategy']
Length: 12
Categories (12, object): ['Sports', 'Platform', 'Racing', 'Role-Playing', ..., 'Action', 'Fighting', 'Adventure', 'Strategy']

In [77]:
games_copy.Genre = games_copy.Genre.astype('category')

In [79]:
games_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 16327 entries, Wii Sports to Spirits & Spells
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16327 non-null  int64
 1   Name          16327 non-null  object
 2   Platform      16327 non-null  category
 3   Year          16327 non-null  int16
 4   Genre         16327 non-null  category
 5   Publisher     16327 non-null  object
 6   NA_Sales      16327 non-null  float64
 7   EU_Sales      16327 non-null  float64
 8   JP_Sales      16327 non-null  float64
 9   Other_Sales   16327 non-null  float64
 10  Global_Sales  16327 non-null  float64
dtypes: category(2), float64(5), int16(1), int64(1), object(2)
memory usage: 4.7 MB

In [81]:
games_copy.Publisher.unique()

array(['Nintendo', 'Microsoft Game Studios', 'Take-Two Interactive',
       'Sony Computer Entertainment', 'Activision', 'Ubisoft',
       'Bethesda Softworks', 'Electronic Arts', 'Sega', 'SquareSoft',
       'Atari', '505 Games', 'Capcom', 'GT Interactive',
       'Konami Digital Entertainment',
       'Sony Computer Entertainment Europe', 'Square Enix', 'LucasArts',
       'Virgin Interactive', 'Warner Bros. Interactive Entertainment',
       'Universal Interactive', 'Eidos Interactive', 'RedOctane',
       'Vivendi Games', 'Enix Corporation', 'Namco Bandai Games',
       'Palcom', 'Hasbro Interactive', 'THQ', 'Fox Interactive',
       'Acclaim Entertainment', 'MTV Games', 'Disney Interactive Studios',
       'Majesco Entertainment', 'Codemasters', 'Red Orb', 'Level 5',
       'Arena Entertainment', 'Midway Games', 'JVC', 'Deep Silver',
       '989 Studios', 'NCSoft', 'UEP Systems', 'Parker Bros.', 'Maxis',
       'Imagic', 'Tecmo Koei', 'Valve Software', 'ASCII Entertainment',
       'Mindscape', 'Infogrames', 'Unknown', 'Square', 'Valve',
       'Activision Value', 'Banpresto', 'D3Publisher',
       'Oxygen Interactive', 'Red Storm Entertainment', 'Video System',
       'Hello Games', 'Global Star', 'Gotham Games', 'Westwood Studios',
       'GungHo', 'Crave Entertainment', 'Hudson Soft', 'Coleco',
       'Rising Star Games', 'Atlus', 'TDK Mediactive', 'ASC Games',
       'Zoo Games', 'Accolade', 'Sony Online Entertainment', '3DO', 'RTL',
       'Natsume', 'Focus Home Interactive', 'Alchemist',
       'Unknown Publisher', 'Black Label Games', 'SouthPeak Games',
       'Mastertronic', 'Ocean', 'Zoo Digital Publishing', 'Psygnosis',
       'City Interactive', 'Empire Interactive', 'Success', 'Compile',
       'Russel', 'Taito', 'Agetec', 'GSP', 'Microprose', 'Play It',
       'Slightly Mad Studios', 'Tomy Corporation', 'Sammy Corporation',
       'Koch Media', 'Game Factory', 'Titus', 'Marvelous Entertainment',
       'Genki', 'Mojang', 'Pinnacle', 'CTO SpA', 'TalonSoft',
       'Crystal Dynamics', 'SCi', 'Quelle', 'mixi, Inc', 'Rage Software',
       'Ubisoft Annecy', 'Scholastic Inc.', 'Interplay', 'Mystique',
       'ChunSoft', 'Square EA', '20th Century Fox Video Games',
       'Avanquest Software', 'Hudson Entertainment', 'Nordic Games',
       'Men-A-Vision', 'Nobilis', 'Big Ben Interactive', 'Touchstone',
       'Spike', 'Jester Interactive', 'Nippon Ichi Software',
       'LEGO Media', 'Quest', 'Illusion Softworks', 'Tigervision',
       'Funbox Media', 'Rocket Company', 'Metro 3D', 'Mattel Interactive',
       'IE Institute', 'Rondomedia',
       'Sony Computer Entertainment America', 'Universal Gamex',
       'Ghostlight', 'Wizard Video Games',
       'BMG Interactive Entertainment', 'PQube', 'Trion Worlds', 'Laguna',
       'Ignition Entertainment', 'Takara', 'Kadokawa Shoten', 'Destineer',
       'Enterbrain', 'Xseed Games', 'Imagineer',
       'System 3 Arcade Software', 'CPG Products', 'Aruze Corp',
       'Gamebridge', 'Midas Interactive Entertainment', 'Jaleco',
       'Answer Software', 'XS Games', 'Activision Blizzard',
       'Pack In Soft', 'Rebellion', 'Xplosiv', 'GameMill Entertainment',
       'Wanadoo', 'NovaLogic', 'Telltale Games', 'Epoch',
       'BAM! Entertainment', 'Knowledge Adventure', 'Mastiff',
       'Tetris Online', 'Harmonix Music Systems', 'ESP', 'TYO',
       'Telegames', 'Mud Duck Productions', 'Screenlife', 'Pioneer LDC',
       'Magical Company', 'Mentor Interactive', 'Kemco',
       'Human Entertainment', 'Avanquest', 'Data Age',
       'Electronic Arts Victor', 'Black Bean Games', 'Jack of All Games',
       '989 Sports', 'Takara Tomy', 'Media Rings', 'Elf', 'Starfish',
       'Zushi Games', 'Jorudan', 'Destination Software, Inc', 'New',
       'Brash Entertainment', 'ITT Family Games', 'PopCap Games',
       'Home Entertainment Suppliers', 'Ackkstudios', 'Starpath Corp.',
       'P2 Games', 'BPS', 'Gathering of Developers', 'NewKidCo',
       'Storm City Games', 'CokeM Interactive', 'CBS Electronics',
       'Magix', 'Marvelous Interactive', 'Kalypso Media',
       'Nihon Falcom Corporation', 'Wargaming.net', 'Angel Studios',
       'Arc System Works', 'Playmates', 'SNK Playmore',
       'Hamster Corporation', 'From Software', 'Nippon Columbia',
       'Nichibutsu', 'Little Orbit', 'Conspiracy Entertainment',
       'DTP Entertainment', 'Hect', 'Mumbo Jumbo',
       'Pacific Century Cyber Works', 'Indie Games', 'Liquid Games',
       'NEC', 'Axela', 'ArtDink', 'Sunsoft', 'Gust', 'SNK',
       'NEC Interchannel', 'FuRyu', 'Xing Entertainment', 'ValuSoft',
       'Victor Interactive', 'Detn8 Games', 'American Softworks',
       'Nordcurrent', 'Bomb', 'Falcom Corporation', 'AQ Interactive',
       'CCP', 'Milestone S.r.l.', 'JoWood Productions',
       'Seta Corporation', 'On Demand', 'NCS', 'Aspyr',
       'Gremlin Interactive Ltd', 'Agatsuma Entertainment',
       'Compile Heart', 'Culture Brain', 'Mad Catz', 'Shogakukan',
       'Merscom LLC', 'Rebellion Developments', 'Nippon Telenet',
       'TDK Core', 'bitComposer Games', 'Foreign Media Games', 'Astragon',
       'SSI', 'Kadokawa Games', 'Idea Factory',
       'Performance Designed Products', 'Asylum Entertainment',
       'Core Design Ltd.', 'PlayV', 'UFO Interactive',
       'Idea Factory International', 'Playlogic Game Factory',
       'Essential Games', 'Adeline Software', 'Funcom',
       'Panther Software', 'Blast! Entertainment Ltd', 'Game Life',
       'DSI Games', 'Avalon Interactive', 'Popcorn Arcade',
       'Neko Entertainment', 'Vir2L Studios', 'Aques', 'Syscom',
       'White Park Bay Software', 'System 3', 'Vatical Entertainment',
       'Daedalic', 'EA Games', 'Media Factory', 'Vic Tokai',
       'The Adventure Company', 'Game Arts', 'Broccoli', 'Acquire',
       'General Entertainment', 'Excalibur Publishing', 'Imadio',
       'Swing! Entertainment', 'Sony Music Entertainment', 'Aqua Plus',
       'Paradox Interactive', 'Hip Interactive',
       'DreamCatcher Interactive', 'Tripwire Interactive', 'Sting',
       'Yacht Club Games', 'SCS Software', 'Bigben Interactive',
       'Havas Interactive', 'Slitherine Software', 'Graffiti', 'Funsta',
       'Telstar', 'U.S. Gold', 'DreamWorks Interactive',
       'Data Design Interactive', 'MTO', 'DHM Interactive', 'FunSoft',
       'SPS', 'Bohemia Interactive', 'Reef Entertainment',
       'Tru Blu Entertainment', 'Moss', 'T&E Soft', 'O-Games',
       'Aksys Games', 'NDA Productions', 'Data East',
       'Time Warner Interactive', 'Gainax Network Systems', 'Daito',
       'O3 Entertainment', 'Gameloft', 'Xicat Interactive',
       'Simon & Schuster Interactive', 'Valcon Games', 'PopTop Software',
       'TOHO', 'HMH Interactive', '5pb', 'Cave',
       'CDV Software Entertainment', 'Microids', 'PM Studios', 'Paon',
       'Micro Cabin', 'GameTek', 'Benesse', 'Type-Moon',
       'Enjoy Gaming ltd.', 'Asmik Corp', 'Interplay Productions',
       'Asmik Ace Entertainment', 'inXile Entertainment', 'Image Epoch',
       'Phantom EFX', 'Evolved Games', 'responDESIGN',
       'Culture Publishers', 'Griffin International', 'Hackberry',
       'Hearty Robin', 'Nippon Amuse', 'Origin Systems', 'Seventh Chord',
       'Mitsui', 'Milestone', 'Abylight', 'Flight-Plan', 'Glams', 'Locus',
       'Warp', 'Daedalic Entertainment', 'Alternative Software',
       'Myelin Media', 'Mercury Games', 'Irem Software Engineering',
       'Sunrise Interactive', 'Elite', 'Evolution Games', 'Tivola',
       'Global A Entertainment', 'Edia', 'Athena', 'Aria', 'Gamecock',
       'Tommo', 'Altron', 'Happinet', 'iWin', 'Media Works', 'Fortyfive',
       'Revolution Software', 'Imax', 'Crimson Cow', '10TACLE Studios',
       'Groove Games', 'Pack-In-Video', 'Insomniac Games',
       'Ascaron Entertainment GmbH', 'Asgard', 'Ecole', 'Yumedia',
       'Phenomedia', 'HAL Laboratory', 'Grand Prix Games', 'DigiCube',
       'Creative Core', 'Kaga Create', 'WayForward Technologies',
       'LSP Games', 'ASCII Media Works', 'Coconuts Japan', 'Arika',
       'Ertain', 'Marvel Entertainment', 'Prototype', 'Phantagram',
       '1C Company', 'The Learning Company', 'TechnoSoft', 'Vap',
       'Misawa', 'Tradewest', 'Team17 Software', 'Yeti', 'Pow',
       'Navarre Corp', 'MediaQuest', 'Max Five', 'Comfort',
       'Monte Christo Multimedia', 'Pony Canyon', 'Riverhillsoft',
       'Summitsoft', 'Milestone S.r.l', 'Playmore', 'MLB.com',
       'Kool Kizz', 'Flashpoint Games', '49Games', 'Legacy Interactive',
       'Alawar Entertainment', 'CyberFront',
       'Cloud Imperium Games Corporation', 'Societa',
       'Virtual Play Games', 'Interchannel', 'Sonnet', 'Experience Inc.',
       'Zenrin', 'Iceberg Interactive', 'Ivolgamus', '2D Boy',
       'MC2 Entertainment', 'Kando Games', 'Just Flight', 'Office Create',
       'Mamba Games', 'Fields', 'Princess Soft', 'Maximum Family Games',
       'Berkeley', 'Fuji', 'Dusenberry Martin Racing', 'imageepoch Inc.',
       'Big Fish Games', 'Her Interactive', 'Kamui', 'ASK',
       'TopWare Interactive', 'Headup Games', 'KSS', 'Cygames', 'KID',
       'Quinrose', 'Sunflowers', 'dramatic create', 'TGL', 'Encore',
       'Extreme Entertainment Group', 'Intergrow', 'G.Rev', 'Sweets',
       'Kokopeli Digital Studios', 'Number None', 'Nexon', 'id Software',
       'BushiRoad', 'Tryfirst', 'Strategy First', '7G//AMES',
       'GN Software', "Yuke's", 'Easy Interactive', 'Licensed 4U',
       'FuRyu Corporation', 'Lexicon Entertainment', 'Paon Corporation',
       'Kids Station', 'GOA', 'Graphsim Entertainment', 'King Records',
       'Introversion Software', 'Minato Station', 'Devolver Digital',
       'Blue Byte', 'Gaga', 'Yamasa Entertainment', 'Plenty', 'Views',
       'fonfun', 'NetRevo', 'Codemasters Online', 'Quintet',
       'Phoenix Games', 'Dorart', 'Marvelous Games', 'Focus Multimedia',
       'Imageworks', 'Karin Entertainment', 'Aerosoft',
       'Technos Japan Corporation', 'Gakken', 'Mirai Shounen',
       'Datam Polystar', 'Saurus', 'HuneX', 'Revolution (Japan)',
       'Giza10', 'Visco', 'Alvion', 'Mycom', 'Giga', 'Warashi',
       'System Soft', 'Sold Out', 'Lighthouse Interactive',
       'Masque Publishing', 'RED Entertainment', 'Michaelsoft',
       'Media Entertainment', 'New World Computing', 'Genterprise',
       'Interworks Unlimited, Inc.', 'Boost On', 'Stainless Games',
       'EON Digital Entertainment', 'Epic Games', 'Naxat Soft',
       'Ascaron Entertainment', 'Piacci', 'Nitroplus',
       'Paradox Development', 'Otomate', 'Ongakukan', 'Commseed',
       'Inti Creates', 'Takuyo', 'Interchannel-Holon', 'Rain Games',
       'UIG Entertainment'], dtype=object)

In [85]:
games_copy.Publisher = games_copy.Publisher.astype('category')

In [86]:
games_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 16327 entries, Wii Sports to Spirits & Spells
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16327 non-null  int64
 1   Name          16327 non-null  object
 2   Platform      16327 non-null  category
 3   Year          16327 non-null  int16
 4   Genre         16327 non-null  category
 5   Publisher     16327 non-null  category
 6   NA_Sales      16327 non-null  float64
 7   EU_Sales      16327 non-null  float64
 8   JP_Sales      16327 non-null  float64
 9   Other_Sales   16327 non-null  float64
 10  Global_Sales  16327 non-null  float64
dtypes: category(3), float64(5), int16(1), int64(1), object(1)
memory usage: 3.7 MB

In [88]:
games_copy.NA_Sales.mean()

0.2654149568200114

In [90]:
games_copy.NA_Sales.median()

0.08

with values that are not that big, we can try changing type to float16 to reduce the size even more

In [91]:
games_copy.NA_Sales = games_copy.NA_Sales.astype('float16')

In [92]:
games_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 16327 entries, Wii Sports to Spirits & Spells
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16327 non-null  int64
 1   Name          16327 non-null  object
 2   Platform      16327 non-null  category
 3   Year          16327 non-null  int16
 4   Genre         16327 non-null  category
 5   Publisher     16327 non-null  category
 6   NA_Sales      16327 non-null  float16
 7   EU_Sales      16327 non-null  float64
 8   JP_Sales      16327 non-null  float64
 9   Other_Sales   16327 non-null  float64
 10  Global_Sales  16327 non-null  float64
dtypes: category(3), float16(1), float64(4), int16(1), int64(1), object(1)
memory usage: 3.6 MB

the size of dataframe is a bit smaller, so will do the same for the rest

In [95]:
# checking first if the rest of values are close to NA_Sales
games_copy.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16327.000000,16327.000000,16327.000000,16327.000000,16327.000000,16327.000000,16327.000000
mean,8292.868194,2006.406443,0.265381,0.147554,0.078661,0.048325,0.540232
std,4792.669778,5.828981,0.821289,0.508766,0.311557,0.189885,1.565732
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4136.500000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8295.000000,2007.000000,0.080017,0.020000,0.000000,0.010000,0.170000
75%,12441.500000,2010.000000,0.239990,0.110000,0.040000,0.040000,0.480000
max,16600.000000,2020.000000,41.500000,29.020000,10.220000,10.570000,82.740000

In [96]:
games_copy.EU_Sales = games_copy.EU_Sales.astype('float16')

In [97]:
games_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 16327 entries, Wii Sports to Spirits & Spells
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16327 non-null  int64
 1   Name          16327 non-null  object
 2   Platform      16327 non-null  category
 3   Year          16327 non-null  int16
 4   Genre         16327 non-null  category
 5   Publisher     16327 non-null  category
 6   NA_Sales      16327 non-null  float16
 7   EU_Sales      16327 non-null  float16
 8   JP_Sales      16327 non-null  float64
 9   Other_Sales   16327 non-null  float64
 10  Global_Sales  16327 non-null  float64
dtypes: category(3), float16(2), float64(3), int16(1), int64(1), object(1)
memory usage: 3.5 MB

In [98]:
games_copy.JP_Sales = games_copy.JP_Sales.astype('float16')

In [99]:
games_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 16327 entries, Wii Sports to Spirits & Spells
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16327 non-null  int64
 1   Name          16327 non-null  object
 2   Platform      16327 non-null  category
 3   Year          16327 non-null  int16
 4   Genre         16327 non-null  category
 5   Publisher     16327 non-null  category
 6   NA_Sales      16327 non-null  float16
 7   EU_Sales      16327 non-null  float16
 8   JP_Sales      16327 non-null  float16
 9   Other_Sales   16327 non-null  float64
 10  Global_Sales  16327 non-null  float64
dtypes: category(3), float16(3), float64(2), int16(1), int64(1), object(1)
memory usage: 3.4 MB

In [100]:
games_copy.Other_Sales = games_copy.Other_Sales.astype('float16')

In [101]:
games_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 16327 entries, Wii Sports to Spirits & Spells
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16327 non-null  int64
 1   Name          16327 non-null  object
 2   Platform      16327 non-null  category
 3   Year          16327 non-null  int16
 4   Genre         16327 non-null  category
 5   Publisher     16327 non-null  category
 6   NA_Sales      16327 non-null  float16
 7   EU_Sales      16327 non-null  float16
 8   JP_Sales      16327 non-null  float16
 9   Other_Sales   16327 non-null  float16
 10  Global_Sales  16327 non-null  float64
dtypes: category(3), float16(4), float64(1), int16(1), int64(1), object(1)
memory usage: 3.3 MB

In [102]:
games_copy.Global_Sales = games_copy.Global_Sales.astype('float16')

In [103]:
games_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 16327 entries, Wii Sports to Spirits & Spells
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16327 non-null  int64
 1   Name          16327 non-null  object
 2   Platform      16327 non-null  category
 3   Year          16327 non-null  int16
 4   Genre         16327 non-null  category
 5   Publisher     16327 non-null  category
 6   NA_Sales      16327 non-null  float16
 7   EU_Sales      16327 non-null  float16
 8   JP_Sales      16327 non-null  float16
 9   Other_Sales   16327 non-null  float16
 10  Global_Sales  16327 non-null  float16
dtypes: category(3), float16(5), int16(1), int64(1), object(1)
memory usage: 3.2 MB

In [104]:
games.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 5.2 MB

as we can see above, we reduced the size of this dataset was reduced from 5.2 MB to 3.2 MB

# References:
-https://www.kaggle.com/gregorut/videogamesales